html,
body {
  height: 100%;
}


#root {
  height: 100%;
  position: relative;
}

.landing {
  background-color: black;
  width: '100%';
  height: '100%';
  color: white;
}

.power-page{
  color:#2A495E;
  font-size: larger;
  font-weight: bold;
}

.landing-top-container {
  height: 76px;
  background-color: #F7F5F5;
}

.landing-left-container {
  background: linear-gradient(22.89deg, #102F47 16.14%, #2A495E 86.48%);
  flex-grow: 1;
}

.landing-right-container {
  background-color: #F7F5F5;
  flex-grow: 2;
}